body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logindiv{
  position: absolute;
  align-items: center;
  left:43%;
}

#login{
  width: fit-content;
  align-items: center;
}

input[type=text],input[type=password]{
  padding: 12px 20px;
}

input[id=loginbutton]{
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#navigation{
  position: absolute;
  left: 10%;
  top: 10%;
  display: flex;
  flex-direction: column;
}

a[href=account],a[href=dashboard],a[href=courses],a[href=\/],a[href=admin_settings] {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 8px 12px 8px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

a[href=account]:hover,a[href=dashboard]:hover,a[href=courses]:hover,a[href=\/]:hover,a[href=admin_settings]:hover{
  background-color: #CCCCCC;
}

#account{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}